<%- include("partial/header") -%>
  
<div class="container">
    <h1 id="title-head"><%=partyTitle%></h1>
    <div class="row">

        <div class="col-md-12">
            <div  class="details">

            <img src="/<%=src%>" alt="" width="200px" >

            </div>
            <h3>Description About : <%=partyTitle%> Party</h3>
            <p class="party-des"><%=details%></p>

        </div>
    </div>
</div>


<%- include("partial/footer") -%>
